source https://api.nuget.org/v3/index.json

nuget CassandraCSharpDriver ~> 3
nuget Docker.DotNet 3.125.15
nuget McMaster.Extensions.CommandLineUtils 3.1.0
nuget Microsoft.Data.SqlClient 5.1.5
nuget Microsoft.Data.Sqlite ~> 10
nuget Microsoft.NET.Test.Sdk ~> 18
nuget MySqlConnector ~> 2
nuget Newtonsoft.Json ~> 13
nuget Npgsql ~> 9
nuget Serilog.AspNetCore ~> 9
nuget Stub.System.Data.SQLite.Core.NetStandard ~> 1
nuget xunit ~> 2
nuget xunit.runner.visualstudio ~> 3
